.tab-info{
    margin-left: 400px ;
    margin-right: 400px;
    width: 60%;
    margin-top: -100px;
    margin-bottom: 150px;
}
.tab-info h2{
 
    width: 60%;
    font-size: 35px;
    color: #0047bb;
}

.react-tabs {
    -webkit-tap-highlight-color: whitesmoke;
    
  }
  
  .react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
    

  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    
  }
  
  .react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
    
  }
  
  .react-tabs__tab--disabled {
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
    
  }
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
    width: 100%;
    height: 100%;
    
    margin-right: 400px;
  }
  
  .container-header-tab{
      font-size: 18px;
      color: #0047bb;
      padding-top: 10px;
  }

  .res-info-tab{
      margin-top: -100px;
     
  }

  .container-header-panel{
      width: 100%;
      text-align: justify;
      font-size: 18px;
      color: #1c2237;
      
  }

  .container-header-panel ul{
      margin-left: 20px;
  }

  .panel-row{
      padding-bottom: 100px;
      display: flex;
      border-bottom: 2px dotted darkgray ;
      height: 100%;
      
      
      
  }

  .panel-col{
      float: left;
      font-size: 22px;
      color: #1c2237;
      margin-left: 12px;
      width: 300px;
      padding-top: 55px;
      
     
     
  }

  .panel-col-2{
    float: left;
    margin-left: 10%;
    font-size: 22px;
    color: #1c2237;
    padding-top: 55px;
    
    
}

.table-master{
     width: 600px;
     border-collapse: collapse; 
     border-style: solid; 
     border-color: #ddd; 
     border: 1px;
}
